@model PagedList.IPagedList<FileSharing.Entities.Models.IndexFileViewModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Все файлы";
}



<div class="container body-content">
    <h2>Все файлы.</h2>

    @using (Html.BeginForm("Index", "File", FormMethod.Get, htmlAttributes: new { @id = "myForm" }))
    {
            <div class="form-group">
                @Html.DropDownList("category", ViewBag.Categories as SelectList,
               new { @class = "dropdown form-control" })   
                
                @Html.DropDownList("expansion", ViewBag.Expansions as SelectList,
               new { @class = "dropdown form-control" })

                <input type="text" name="fileName" form="myForm" class="search form-control" placeholder="Введите имя файла" style="width: 450px" />
                
                <input type="submit" value="Поиск" class="btn btn-primary" />
            </div>



        <br />

        <table class="table table-bordered table-hover" style="margin-top: 20px;">
            <tr>
                <th>
                    @Html.DisplayName("Пользователь")
                </th>
                <th>
                    @Html.DisplayName("Имя файла")
                </th>
                <th>
                    @Html.DisplayName("Размер файла")
                </th>
                <th>
                    @Html.DisplayName("Описание файла")
                </th>
                <th>
                    @Html.DisplayName("Дата загрузки")
                </th>

                <th>
                    @Html.DisplayName("Ссылка на скачивание")
                </th>

                @if (Request.Cookies["Id"] != null)
                {
                    <th>
                        @Html.DisplayName("Общедоступный")
                    </th>
                    <th>
                        @Html.DisplayName("Изменить файл")
                    </th>
                    <th>
                        @Html.DisplayName("Удалить файл")
                    </th>
                }

            </tr>

            <tbody id="table">
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="4" style="color: red;" class="to-centre">
                            Файлов не найдено.
                        </td>
                    </tr>
                }

                
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="~/Manage/AccountIndex/@item.UserId">
                                @item.UserLogin
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Size)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DownloadDate)
                        </td>

                        <td class="to-centre">
                            <a href="~/File/Download/@item.Id">Скачать</a>
                        </td>


                        @if (Request.Cookies["Id"] != null)
                        {
                            if (Request.Cookies["Admin"] != null || Request.Cookies["Moder"] != null || Request.Cookies["Id"].Value == (item.UserId).ToString())
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsPublic)
                                </td>
                                <td>
                                    <a href="~/File/EditFile/@item.Id">Изменить</a>
                                </td>
                                <td>
                                    <a href="~/File/DeleteFile/@item.Id">Удалить</a>
                                </td>
                            }
                        }

                    </tr>
                }
            </tbody>

        </table>

        <div class="pagination">
            Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    }



</div>


@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/AutoSearch.js"></script>
}
