<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
    <li>@Html.ActionLink("Загрузить", "Upload", "File")</li>
    <li>@Html.ActionLink("Скачать", "Download", "File")</li>
    <li>@Html.ActionLink("О сайте", "About", "Home")</li>
    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Вход", "Login", "Account")</li>
    <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
</ul>
